<%= button_to "Create New User", register_path, method: :get %>
<section class='existing-users'>
<% if session[:user_id] %>
    <p>Existing Users: </p>
    <% @users.each do |user| %>
        <% if session[:user_id] %>
            <li><%= user.email %></li>
        <% elsif %>
            <li><%= link_to user.email, user_path(user.id) %></li>
        <% end %>
    <% end %>
<% end %>
</section>